.pc_container {
    width: 996px;
    height: 354px;
    /*background-image: url('../images/index-landing/pc_bg.png');*/
    margin: 0 auto;
	background-color:#b4b4b4;
}

.pc_container .pc_item {
    width: 996px;
    height: 354px;
}

.pc_container .pc_bar_container {
    position: absolute;
    top: 354px;
    color: white;
    width: 996px;
	margin:0;
	left:0px;
	overflow:hidden;
}

.pc_bar_container_underflow {
    width: 90000px;
    overflow: visible;
	left:0px;
}

.pc_bar_container_overflow {
    overflow: hidden;
    position: absolute;
    top: 354px;
	left:0;
    color: white;
    padding: 0px;
}

.left, .center, .right {
    /*background-position: left;
    background-repeat: no-repeat;
	*/
	background-image:none !important;
    overflow: hidden;
    font-size: 1px;
    float: left;
	width:6px;
}
.right{display:none;}
.left {
	background:#82b135;
}

.bar {
    background-position: left;
    overflow: hidden;
    font-size: 1px;
    float: left;

}

.pc_item .desc {
    position: absolute;
    width: 250px;
    padding: 10px;
    height: 180px;
    line-height: 1.8em;
    right: 0px;
}
